Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/menu_black_close.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/TrendIconRedDown.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/StatusError.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/StatusBigOk.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/Severity_Medium.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/Severity_Low.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/Severity_High.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/Severity_Critical.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/Severity_Blocker.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/QGWarn.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/QGPass.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/QGFail.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/Ok.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/NewIssue.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/NDependVersion.xml
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/NDependReport.js
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/NDependReport.css
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/InfoBig.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/TrendIconGreenUp.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/TrendIconGreenDown.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/TrendIconGrayUp.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/TrendIconGrayDown.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/TrendIconGrayConstant.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/Trend.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/TinyVisualNDependView.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/TinyComponentDependenciesMatrix.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/TinyComponentDependenciesDiagram.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/TinyAbstractnessVSInstability.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/StatusWarningCritical.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/StatusWarning.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/StatusQGWarn.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/StatusQGPass.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/StatusQGFail.png
Backend/IMMRequest/NDependOut/NDependReportFiles/Idea.png
Backend/IMMRequest/NDependOut/NDependReportFiles/GroupHierarchy.png
Backend/IMMRequest/NDependOut/NDependReportFiles/FilterBlueBig.png
Backend/IMMRequest/NDependOut/NDependReportFiles/FilterBlue.png
Backend/IMMRequest/NDependOut/NDependReportFiles/Error.png
Backend/IMMRequest/NDependOut/NDependReportFiles/Empty.png
Backend/IMMRequest/NDependOut/NDependReportFiles/ComponentDependenciesMatrix.png
Backend/IMMRequest/NDependOut/NDependReportFiles/ComponentDependenciesDiagram.png
Backend/IMMRequest/NDependOut/NDependReportFiles/AbstractnessVSInstability.png
Backend/IMMRequest/NDependOut/NDependReport.html
Backend/IMMRequest/NDependOut/NDependAnalysisResult_IMMRequest_2020Jun25_16h14.ndar
Backend/IMMRequest/NDependOut/InfoWarnings.xml
Backend/IMMRequest/NDependOut/2020_06/25_16_14/SourceFiles.zip
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/search.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/menu_white.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/menu_gray.png
Backend/IMMRequest/NDependOut/TrendMetrics/NDependTrendData2020.xml
Backend/IMMRequest/NDependOut/SourceFiles.zip
Backend/IMMRequest/NDependOut/NDependReportFiles/search.png
Backend/IMMRequest/NDependOut/NDependReportFiles/menu_white.png
Backend/IMMRequest/NDependOut/NDependReportFiles/menu_gray.png
Backend/IMMRequest/NDependOut/NDependReportFiles/menu_black_close.png
Backend/IMMRequest/NDependOut/NDependReportFiles/TrendIconGreenUp.png
Backend/IMMRequest/NDependOut/NDependReportFiles/StatusBigOk.png
Backend/IMMRequest/NDependOut/NDependReportFiles/Severity_Medium.png
Backend/IMMRequest/NDependOut/NDependReportFiles/Severity_Low.png
Backend/IMMRequest/NDependOut/NDependReportFiles/Severity_High.png
Backend/IMMRequest/NDependOut/NDependReportFiles/Severity_Critical.png
Backend/IMMRequest/NDependOut/NDependReportFiles/Severity_Blocker.png
Backend/IMMRequest/NDependOut/NDependReportFiles/QGWarn.png
Backend/IMMRequest/NDependOut/NDependReportFiles/QGPass.png
Backend/IMMRequest/NDependOut/NDependReportFiles/QGFail.png
Backend/IMMRequest/NDependOut/NDependReportFiles/Ok.png
Backend/IMMRequest/NDependOut/NDependReportFiles/NewIssue.png
Backend/IMMRequest/NDependOut/NDependReportFiles/NDependVersion.xml
Backend/IMMRequest/NDependOut/NDependReportFiles/NDependReport.js
Backend/IMMRequest/NDependOut/NDependReportFiles/NDependReport.css
Backend/IMMRequest/NDependOut/NDependReportFiles/InfoBig.png
Backend/IMMRequest/NDependOut/NDependReportFiles/Info.png
Backend/IMMRequest/NDependOut/NDependReportFiles/TrendIconGreenDown.png
Backend/IMMRequest/NDependOut/NDependReportFiles/TrendIconGrayUp.png
Backend/IMMRequest/NDependOut/NDependReportFiles/TrendIconGrayDown.png
Backend/IMMRequest/NDependOut/NDependReportFiles/TrendIconGrayConstant.png
Backend/IMMRequest/NDependOut/NDependReportFiles/Trend.png
Backend/IMMRequest/NDependOut/NDependReportFiles/TinyVisualNDependView.png
Backend/IMMRequest/NDependOut/NDependReportFiles/TinyComponentDependenciesMatrix.png
Backend/IMMRequest/NDependOut/NDependReportFiles/TinyComponentDependenciesDiagram.png
Backend/IMMRequest/NDependOut/NDependReportFiles/TinyAbstractnessVSInstability.png
Backend/IMMRequest/NDependOut/NDependReportFiles/StatusWarningCritical.png
Backend/IMMRequest/NDependOut/NDependReportFiles/StatusWarning.png
Backend/IMMRequest/NDependOut/NDependReportFiles/StatusQGWarn.png
Backend/IMMRequest/NDependOut/NDependReportFiles/StatusQGPass.png
Backend/IMMRequest/NDependOut/NDependReportFiles/StatusQGFail.png
Backend/IMMRequest/NDependOut/NDependReportFiles/StatusError.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/Info.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/Idea.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/GroupHierarchy.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/FilterBlueBig.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/FilterBlue.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/Error.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/Empty.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/ComponentDependenciesMatrix.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/ComponentDependenciesDiagram.png
Backend/IMMRequest/NDependOut/NDependReportFiles/menu_black.png
Backend/IMMRequest/NDependOut/NDependReportFiles/logo.png
Backend/IMMRequest/NDependOut/NDependReportFiles/loading.gif
Backend/IMMRequest/NDependOut/NDependReportFiles/li_triangle.png
Backend/IMMRequest/NDependOut/NDependReportFiles/li_square.png
Backend/IMMRequest/NDependOut/NDependReportFiles/filter_up.png
Backend/IMMRequest/NDependOut/NDependReportFiles/filter_down.png
Backend/IMMRequest/NDependOut/NDependReportFiles/filter.png
Backend/IMMRequest/NDependOut/NDependReportFiles/dropdown.png
Backend/IMMRequest/NDependOut/NDependReportFiles/controls.png
Backend/IMMRequest/NDependOut/NDependReportFiles/WarningCritical.png
Backend/IMMRequest/NDependOut/NDependReportFiles/Warning.png
Backend/IMMRequest/NDependOut/NDependReportFiles/VisualNDependView.png
Backend/IMMRequest/NDependOut/NDependReportFiles/VSLogo.png
Backend/IMMRequest/NDependOut/NDependReportFiles/TrendIconRedUp.png
Backend/IMMRequest/NDependOut/NDependReportFiles/TrendIconRedDown.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/menu_black.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/logo.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/loading.gif
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/li_triangle.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/li_square.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/filter_up.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/filter_down.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/filter.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/dropdown.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/controls.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/WarningCritical.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/Warning.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/VisualNDependView.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/VSLogo.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/TrendIconRedUp.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReportFiles/AbstractnessVSInstability.png
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependReport.html
Backend/IMMRequest/NDependOut/2020_06/25_16_14/NDependAnalysisResult_IMMRequest_2020Jun25_16h14.ndar
Backend/IMMRequest/NDependOut/2020_06/25_16_14/InfoWarnings.xml
Backend/IMMRequest/IMMRequest.ndproj
obj/IMMRequest.DataAccess.EntityFrameworkCore.targets
