<main role="main"
      class="col-sm-9 mx-auto px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Request</h1>
    </div>
    <div class="text-center">
        <form [formGroup]="requestForm"
              style="text-align: -webkit-center;">
            <aw-wizard>
                <aw-wizard-step stepTitle="Select Area">

                    <!-- Area Select -->
                    <mat-form-field class="select-wizard">
                        <mat-label>Area</mat-label>
                        <mat-select (selectionChange)="selectArea($event)" >
                            <mat-option *ngFor="let area of areas" [value]="area.name">
                                {{area.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br />
                    <button mat-raised-button color="primary" [disabled]="!selectedArea || error" awNextStep>Next Step</button>

                </aw-wizard-step>
                <aw-wizard-step stepTitle="Select Topic">

                    <!-- Topic Select -->
                    <mat-form-field class="select-wizard">
                        <mat-label>Topic</mat-label>
                        <mat-select (selectionChange)="selectTopic($event)" >
                            <mat-option *ngFor="let topic of topics" [value]="topic.name">
                                {{topic.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br />
                    <button type="button" style="margin: 5px;" mat-raised-button color="primary" awPreviousStep>Go Back</button>
                    <button type="button" style="margin: 5px;" 
                        mat-raised-button color="primary" 
                        [disabled]="!selectedTopic || error"
                        awNextStep>Next Step</button>

                </aw-wizard-step>
                <aw-wizard-step stepTitle="Select Type">

                      <!-- Type Select -->
                      <mat-form-field class="select-wizard">
                        <mat-label>Type</mat-label>
                        <mat-select (selectionChange)="selectType($event)" >
                            <mat-option *ngFor="let type of types" [value]="type.name">
                                {{type.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br />
                    <button type="button" style="margin: 5px;" mat-raised-button color="primary" awPreviousStep>Go Back</button>
                    <button type="button" 
                        mat-raised-button color="primary" 
                        [disabled]="!selectedType"
                        awNextStep>Next Step</button>

                </aw-wizard-step>
                <aw-wizard-step stepTitle="Additional Fields">
                    <div *ngIf="!submitted" >
                        <!-- Additional Fields -->
                        <div style="margin-top: 3%;">
                            <p> &#9889; <strong> Almost There </strong> &#9889; </p>
                            <hr>
                            <div class="form-group" *ngIf="hasAdditionalFields">
                                <p> <u> Additional Fields </u> </p>
                                <hr style="width: 40%;">
                                <div *ngFor="let field of additionalFields">
        
                                    <!-- Text Normal -->
                                    <div *ngIf="field.fieldType == 'Texto' && !field.multiSelect">
                                        <div style="padding: 10px;">
                                            <label for="Name">{{field.name}}:</label>
                                            <input type="text" formControlName={{field.id}} style="width: 30%"
                                            [ngClass]="{ 'is-invalid': submitted && controls[field.id].errors }" class="form-control"
                                            placeholder="">
                                        </div>
                                    </div>
        
                                    <!-- Text MultiSelect -->
                                    <div *ngIf="field.fieldType == 'Texto' && field.multiSelect">
                                        <div style="padding: 10px;">
                                            <p> {{field.name}}:</p>
                                            <mat-form-field>
                                                <mat-label>Please select..</mat-label>
                                                <mat-select (selectionChange)="multiSelection($event)" formControlName={{field.id}} multiple>
                                                    <mat-option *ngFor="let option of field.ranges" [value]="option.range">
                                                        {{option.range}}
                                                    </mat-option>
                                            </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
        
                                    <!-- Date Normal -->
                                    <div *ngIf="field.fieldType == 'Fecha' && !field.multiSelect">
                                        <p>{{field.name}}:</p>
                                        <ngb-datepicker 
                                            #dp [displayMonths]="1" formControlName={{field.id}} outsideDays="hidden"> 
                                        </ngb-datepicker>
                                    </div>
        
                                    <!-- Date MultiSelect -->
                                    <div *ngIf="field.fieldType == 'Fecha' && field.multiSelect">
                                        <div style="padding: 10px;">
                                            <p>{{field.name}}:</p>
                                            <label> Indicate Date Range </label>
                                            <div *ngFor="let range of field.ranges; let i = index">
                                                <label style="padding-right:5px;" *ngIf="i == 0">Pick From:  {{ range.range.toString() }}  </label>
                                                <label style="padding-right:5px;" *ngIf="i > 0">Pick To:  {{ range.range.toString() }} :</label>
                                                <input formControlName={{range.id}} type="date"><br><br>
                                            </div>
                                        </div>
                                    </div>
        
                                    <!-- Int Normal -->
                                    <div *ngIf="field.fieldType == 'Entero' && !field.multiSelect">
                                        <div style="padding: 10px;">
                                            <p>{{field.name}}:</p>
                                            <label for="quantity">Quantity (between 1 and 5):</label>
                                            <input formControlName={{field.id}} type="number">
                                        </div>
                                    </div>
        
                                    <!-- Int MultiSelect -->
                                    <div *ngIf="field.fieldType == 'Entero' && field.multiSelect">
                                        <div style="padding: 10px;">
                                            <p>{{field.name}}:</p>
                                            <label> Indicate Date Range </label>
                                            <div *ngFor="let range of field.ranges; let i = index">
                                                <label style="padding-right:5px;" *ngIf="i == 0">Pick From: {{ range.range.toString() }} </label>
                                                <label style="padding-right:5px;" *ngIf="i > 0">Pick To: {{ range.range.toString() }}</label>
                                                <input formControlName={{range.id}} type="range" #ranger (input)="yourMethod(ranger.value)">
                                            </div>
                                        </div>
                                    </div>
        
                                    <!-- Bool -->
                                    <div *ngIf="field.fieldType == 'Boolean'">
                                        <div class="block" style="padding: 10px;">
                                            <label>{{field.name}}:</label>
                                            <input type="checkbox" formControlName={{field.id}} style="width: 40px" checked="checked"
                                            [ngClass]="{ 'is-invalid': submitted && controls.RequestorsName.errors }" class="form-control"
                                            placeholder="Jhon Doe">
                                            <span class="checkmark"></span>
                                        </div>  
                                    </div>
                                </div>
                            </div>
        
                            <p><u> Contact Information </u></p>
                            <hr style="width: 40%;">
                            <div class="block" style="padding: 10px;">
                                <label>Name:</label>
                                <input type="text" formControlName="RequestorsName" style="width: 30%"
                                [ngClass]="{ 'is-invalid': submitted && controls.RequestorsName.errors }" class="form-control"
                                placeholder="Jhon Doe">
                            </div>  
                            <div class="block" style="padding: 10px;">
                                <label>Email:</label>
                                <input type="text" formControlName="RequestorsEmail" style="width: 30%"
                                [ngClass]="{ 'is-invalid': submitted && controls.RequestorsEmail.errors }" class="form-control"
                                placeholder="enter@email.com">
                            </div>
                            <div class="block" style="padding: 10px;">
                                <label>Phone:</label>
                                <input type="text" formControlName="RequestorsPhone" style="width: 30%"
                                [ngClass]="{ 'is-invalid': submitted && controls.RequestorsPhone.errors }" class="form-control"
                                placeholder="">
                            </div>  
                            </div>
                            
                            <button type="button" style="margin: 5px;" mat-raised-button color="primary" awPreviousStep>Go Back</button>
                            <button type="button" style="margin: 5px;" mat-raised-button color="primary" (click)="SubmitRequest()">Submit</button>
        
                    </div>
                    <div style="margin-top: 3%;" *ngIf="submitted">
                        <p> &#9889; <strong> Thank you! Your request ID# is: </strong> &#9889; </p>
                        <p> <strong> {{request["id"]}} </strong></p>
                    </div>
                </aw-wizard-step>
            </aw-wizard>
            <div class="mb-3 mt-3" style="width: 40%;">
                <alert *ngIf="error" type="warning" dismissible="true"><strong>Ups!
                  </strong>{{ errorMessage }}</alert>
              </div>
        </form>
        <br />
    </div>
</main>
