.footer {
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #37474f;
    color: white;
  }

  .link {
    text-decoration: none;
    color: white;
    align-content: center;
  }

  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  