<div class="text-center">
    <div class="container">
        <h1 class="display-4 text-center text-muted">Welcome back!</h1>
        <div class="text-center">
            <p>Good to see you here!</p>
        </div>
        <a class="col-sm-3 col-md-2 mr-0" href="/" routerLink="/">
            <img src="../../../assets/logo.png" alt="Logo" width="20%">
        </a>
        <hr class="my-4">
        <div class="text-center">
            <p>Now you can access the administrator's functionalities or send your request</p>
            <a class="btn btn-outline-secondary align-center" href="/" routerLink="/request" role="button">
                <b>
                    Send Request
                </b>
            </a>
        </div>
        <br />
    </div>
</div>