.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .loginCard {
    text-align: -webkit-center;
    padding-top: 3%;
    padding-bottom: 3%;
  }
