<div class="text-center">
    <div class="container">
        <h1 class="display-4 text-center text-muted">Get back soon!</h1>
        <a class="col-sm-3 col-md-2 mr-0" href="/" routerLink="/">
            <img src="../../../assets/logo.png" alt="Logo" width="20%">
        </a>
        <hr class="my-4">
        <div class="text-center">
            <p>We hope you come back soon :)</p>
            <a class="btn btn-outline-secondary align-center" href="/" routerLink="/" role="button"><b>Login</b></a>
        </div>
        <br/>
    </div>
</div>