<mat-toolbar class="navBar">
    <a class="col-sm-3 col-md-2 mr-0" [routerLink]="['/home']">
        <img src="../../../assets/logo.png" alt="Logo" width="50">
    </a>
    <div id="navBarButtons">
        <button mat-raised-button class="navBarButton" color="primary">Panel</button>
        <button mat-flat-button class="navBarButton">Request</button>
        <button mat-flat-button class="navBarButton">More</button>
        <button mat-raised-button color="primary" class="navBarButton">Login</button>
        <button mat-raised-button color="primary" class="navBarButton">Logout</button>
    </div>
</mat-toolbar>